.medieval-font {
    font-family: "Macondo", serif;
    font-size: 5rem;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../includes/VillageJour.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Overlay noir pour la transition */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
    z-index: 10;
}